# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
*.env

# VSCode
.vscode/

# Django stuff:
db.sqlite3
/static/
media/

# macOS
.DS_Store

# Windows
Thumbs.db

# Backup files
*.bak
*.swp
